<% layout('layouts/boilerplate') %>
<h1><%=data.capacity%></h1>

<div class="card mb-3">




    <div class="card-body ">
        <h5 class="card-title">
            Campground:<%= data.campName%>
        </h5>
        <h5 class="card-title">
            From:<%= data.fromDate%>
        </h5>
        <h5 class="card-title">
            To:<%= data.toDate%>
        </h5>
        <h5 class="card-title">
            Num of seats:<%= data.capacity%>
        </h5>
        
    </div>
    


            <div class="card-footer text-muted">

                <a href="/campgrounds">All campgrounds</a>
            </div>
</div>

<script >
    
    const data = <%- JSON.stringify(data) %>
    
</script>